body {
    background-color: hsl(212, 45%, 89%);
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20%;
}

main {
    margin-top: 12em;
    background-color: white;
    width: 16em;
    padding: 1em 0 3em 1em;
    border-radius: 6%;
}

img {
    border-radius: 6%;
    width: 15em;
    height: 15em;
}

footer {
    text-align: center;   
    position: absolute;
    top: 45em;
}

.text {
    font-family: 'Outfit', sans-serif;
    text-align: center;
    width: 14.5em;
}